.metadata
*.class

/javadoc/website/World/package-list
/javadoc/website/DecisionUnitInterface/package-list
/javadoc/website/DecisionUnitMasonInspectors/package-list
/javadoc/website/DecisionUnits/package-list
/javadoc/website/Sim/package-list
/javadoc/website/DecisionUnitInterface/package-list
/javadoc/website/DecisionUnitMasonInspectors/package-list
/javadoc/website/DecisionUnits/package-list
/javadoc/website/Sim/package-list
/BodyEntityMasonInspector/bin
/ARSMemory/bin
/ARSIN/bin
/Entities/bin
/ExtTools/bin
/GeneralTools/bin
/World/bin
/DecisionUnitInterface/bin
/DecisionUnitMasonInspectors/bin
/ExtTools/bin
/Mason/bin
/MasonPhysics2D/bin
/NAO/bin
/NAOProxyClient_Java/bin
/Simulation/bin
/Simulation/config/config.save
/Sim/bin
/TestApps/bin
/DecisionUnits/bin
/Sim/config/config.save