/ARSDecisionUnit/bin
/ARSMemory/bin
/CommunicationInterface/bin
/Entity/bin
/GeneralTools/bin
/Inspectors/bin
/libraries/bin
/MasonExtentions/bin
/Simulation/bin
/TestApps/bin
/Simulator/config/config.save
/Simulation/config/config.save
/log/*.log
/log
/Analysis/logs
